<div class="barra-transparencia">
  <div class="contenedor">
    <p>En cumplimiento con la Ley No. 200-04 de Libre Acceso a la Información Pública, visite la 
      <a href="https://onesvie.gob.do/transparencia/inicio" target="_blank" rel="noopener noreferrer">Sección de Transparencia de la ONESVIE</a>
    </p>
  </div>
</div>
